@inherits LayoutComponentBase

<PageTitle>My campus</PageTitle>


<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row shadow-sm p-3 mb-2 bg-white">
                    <a class="copyright-link" href="https://github.com/daniel-krich" target="_blank">
                        דניאל ק.
                        <i class="fa-solid fa-copyright me-1"></i>
                    </a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </Authorized>
        <Authorizing>

        </Authorizing>
        <NotAuthorized>
            <Auth />
        </NotAuthorized>
    </AuthorizeView>
</div>