@inject IAuthenticationStateService authenticationState


<div class="top-row ps-3 navbar navbar-dark bg-dark bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="">הקמפוס שלי</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if(authenticationState?.User?.Permissions == UserPermissionsEnum.Student)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="fa-solid fa-house ms-2"></i> ראשי
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="student/meetings">
                    <i class="fa-solid fa-tv ms-2"></i> מפגשים
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="student/assignments">
                    <i class="fa-solid fa-clipboard-list ms-2"></i> משימות
                </NavLink>
            </div>
                <div class="nav-item px-3">
                <NavLink class="nav-link" href="student/quizzes">
                    <i class="fa-solid fa-graduation-cap ms-2"></i> חידונים
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profile">
                    <i class="fa-solid fa-user ms-2"></i> הפרופיל שלי
                </NavLink>
            </div>
        }
        else if(authenticationState?.User?.Permissions == UserPermissionsEnum.Lecturer)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="fa-solid fa-house ms-2"></i> ראשי
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="lecturer/meetings">
                    <i class="fa-solid fa-chalkboard-user ms-2"></i> הרצאות
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="lecturer/classes">
                    <i class="fa-solid fa-users-gear ms-2"></i> ניהול כיתות
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profile">
                    <i class="fa-solid fa-user ms-2"></i> הפרופיל שלי
                </NavLink>
            </div>
        }
        else if(authenticationState?.User?.Permissions == UserPermissionsEnum.Staff)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="fa-solid fa-house ms-2"></i> ראשי
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="staff/courses">
                    <i class="fa-solid fa-gears ms-2"></i> ניהול קורסים
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="staff/users">
                    <i class="fa-solid fa-users-gear ms-2"></i> ניהול משתמשים
                </NavLink>
            </div>
        
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profile">
                    <i class="fa-solid fa-user ms-2"></i> הפרופיל שלי
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink role="button" class="nav-link" @onclick=@(() => logout = true)>
                @if(logout)
                {
                    <Logout />
                }
                <i class="fa-solid fa-right-from-bracket ms-2"></i> התנתק
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool logout;
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
