@page "/student/quizzes"

@inject IAuthenticationStateService authenticationState

<RenderPermission Permission="UserPermissionsEnum.Student" RedirectIfInvalid="true">

    <h3>Student quizzes</h3>

</RenderPermission>

@code {

}
