@page "/student/exams"

@inject IAuthenticationStateService authenticationState

<RenderPermission Permission="UserPermissionsEnum.Student" RedirectIfInvalid="true">

    <h3>StudentExams</h3>

</RenderPermission>

@code {

}
